# Thermal Diabetes Tools Requirements

# Anaconda - For creating the virtual environment
anaconda

# Create the 'thermal' virtual environment with Python 3.8
python=3.8

# Pip Package for extracting thermal images from FLIR cameras
flirimageextractor==1.5.3
